{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block body %}

<h1 class="pt-2 text-center">Liste des Artistes</h1>
<hr>
<div class="row pt-2">

    {% for leFilm in lesFilms %}

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3">
                <h3 class="card-header"><a href="">{{leFilm.titreFilm}}</a></h3> {# {{path('ficheFilm', {'id': leFilm.id })}} #}
                <div class="card-body">
                </div>
                <img class="avatar mx-auto d-block" style="height: auto; width: auto; display: block;" src="{{leFilm.afficheFilm}}" alt="Affiche du film">
                <div class="card-body">
                    <p class="card-text">{{leFilm.descFilm|slice(0,200)|raw}}...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Le film est sotie en {{leFilm.dateSortieFilm}}</li>
                    <li class="list-group-item">{% for laSeance in leFilm.sceance %} <span class="badge">{{laSceance.id}}</span> {% endfor %}</li>
                </ul>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}
