{% extends 'base.html.twig' %}

{% block title %}Liste des Films{% endblock %}

{% block body %}

<h1 class="pt-2 text-center">Liste des Films</h1>
<hr>
<div class="row pt-2">

    {% for leFilm in lesFilms %}

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="card mb-3">
                <h4 class="card-header" align="center"><a href="">{{leFilm.nom}}</a></h4> {# {{path('ficheFilm', {'id': leFilm.id })}} #}
                <div class="card-body">
                </div>
                <img class="avatar mx-auto d-block" style="height: auto; width: auto; display: block;" src="{{leFilm.affiche}}" alt="Affiche du film">
                <div class="card-body">
                    <p class="card-text">{{leFilm.description|slice(0,200)|raw}}...</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Le film est sotie en {{leFilm.date}}</li>
                    <li class="list-group-item">{% for laSeance in leFilm.sessions %} <span class="badge">Le film sera difuser à la séance n°{{laSeance.id}}</span> {% endfor %}</li>
                </ul>
            </div>
        </div>

    {% endfor %} 

</div>

{% endblock %}
