{% extends 'base.html.twig' %}

{% block title %}Liste des Séances | Admin{% endblock %}

{% block body %}
    <h1 class="pt-2 text-center">Gestion des Séances | Admin</h1>

        <!--bouton pour ajouter une salle-->

        <hr>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col-1">id</th>
                    <th scope="col-2">date</th>
                    <th scope="col-1">heure</th>
                    <th scope="col-1">film</th>
                    <th scope="col-1">salle</th>
                    <th scope="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for laSeance in lesSeances %}

                        <tr class="table-secondary">
                            <td class="col-2">{{laSeance.id}}</td>
                            <td class="col-2">{{laSeance.date}}</td>
                            <td class="col-2">{{laSeance.heure}}</td>
                            <td class="col-2">{{laSeance.film.nom}}</td>
                            <td class="col-2">{{laSeance.salle.nom}}</td>
                            <td class="col-2">test</td>

                {% endfor %}

 

            </tbody>
        </table>
    </div>
        <div class="navigation mx-auto">
            {{ knp_pagination_render(lesSeances) }}
        </div>
{% endblock %}


{% block javascripts %}
    {% include "include/_modale.html.twig" %}
{% endblock %}
